
spring:
  application:
    name: 'servicos-associado-service'
  datasource:
    url: 'jdbc:mysql://127.0.0.1:3306/servicos_associado?createDatabaseIfNotExist=true&useTimezone=true&serverTimezone=UTC&useSSL=false&allowPublicKeyRetrieval=true'
    username: 'root'
    password: 'root'
    driverClassName: 'com.mysql.cj.jdbc.Driver'
  jpa:
    database-platform: 'org.hibernate.dialect.MySQL8Dialect'
    hibernate.ddl-auto: 'update'
    generate-ddl: 'true'
    properties:
      hibernate:
        show-sql: 'true'
        format_sql: 'true'
  servlet:
    multipart:
      enabled: 'true'
      file-size-threshold: '2KB'
      max-file-size: '200MB'
      max-request-size: '215MB'

server:
 port: 8084

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: 'http://localhost:8761/eureka'

security:
  oauth2:
    resource:
      user-info-uri: 'http://localhost:8083/user'
